@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: rgb(48, 56, 88);
  --color-secondary: rgb(255, 255, 255);
  --color-bg: #F9F9F9;
  --color-underline: #ECECEC;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: "Noto Sans", sans-serif;
  position: relative;
}

::selection {
    background: var(--color-primary);
    color: white;
}

::-moz-selection {
    background: var(--color-primary);
    color: white;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-underline);
  border-radius: 4px;
}